*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

body{
  background: url('./assets/coffee-apple.jpg') no-repeat center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}
